/* * div,
* section{
  border: 1px solid red;
} */
body {
  margin: 0;
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  min-height: 100vh;
  display: block;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 20px;
}
span {
  position: absolute;
  right: 30px;
}
a {
  color: black;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: center;
  margin: 15px 20px 0px 15px;
  
}
nav a {
  margin: 15px 20px 0px 15px;
  padding: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 20px auto;
  width: 100%;
  font-size: 15px;
}
h2 {
  font-weight: 100;
  margin: 30px;
  font-size: 18px;
}
nav a:focus{
  background-color: grey;
}
button {
  height: 40px;
  width: 150px;
  background-color: white;
  border: 2px solid;
  margin-bottom: 30px;
}
button:hover {
  cursor: pointer;
}
button:active{
  background-color: black;
  color: white;
}
button:focus{
  background-color: grey;
}
.image-outwear {
  width: 100%;
}
#tshirts {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
#tshirts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 25px 0px;
  font-size: 15px;
  width: 720px;
}
.image {
  width: 720px;
  height: 320px;
  object-fit: none;
}
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.demo {
  border: 1px solid;
  width: 100px;
  height: 20px;
  background-color: rgb(58, 56, 56);
  text-align: center;
  color: white;
  padding: 10px;
}
.current{
  border-bottom: 2px solid;
  margin-bottom: -2px;
}
.current:focus{
  background-color:grey;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
}
.item_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5px 32px 5px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 60px;
}
.price{
  margin: -14px;
}
.no_of_items{
  margin:-25px;
  font-weight: lighter;
}
#product{
  display: flex;
  justify-content: center;
  margin: 60px 120px;
  max-width: 100%;
  max-height: 100%;
}
.product_image{
  flex : 1;
  width: 50%;
}
.product_details{
  padding:0px 60px;
  flex : 1;
  width: 50%;
}
.product_name{
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}
.product_details .price{
  margin: 16px 0 40px;
  font-size: 16px;
  color: #757575;
}
.select{
  display:flex;
  padding:10px 0px;
  border-top: 1px solid #ccc;
}
#labels{
  color: #757575;
  flex:2;
  left: 0px;
}
#options{
  flex:16;
  font-size: 16px;
  background-color: white;
  border: none;
  white-space: nowrap;
}
.description h2{
  font-weight: 300;
  margin: 0px;
  left:0px;
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
p,
.features{
  color: #757575;
}
.product_details a button{
  margin-top: 20px;

}
.product_image img{
  width: 100%;
  height: 100%;
}
.redirectback{
  position:absolute;
  left: 30px;
  padding: 10px;
}
.redirectback:focus{
  background-color:#ccc;
  border-radius: 50%;
}
.tagline{
  color: #757575;
}
.cartdetails{
  display: flex;
  flex-direction: column;
  max-width:1440px;
  margin: 0 auto;
}
.product{
  display: flex;
  justify-content: center;
  height: 75px;
  margin: 0px 200px 0px 250px;
  padding: 10px 10px;
}
.product a img{
 max-width: 72px;
  height: 72px;
  flex:1;
}
.product .product_name{
 flex: 3;
 font-size: 14px;
 padding: 20px 0px 20px 20px;
}
.size{
  flex:1;
  padding: 20px 0px 20px 10px;
  color: #757575;
}
.quantity{
  flex: 1;
  padding: 20px 0px 20px 10px;
}
.delete{
  flex: 1;
  padding: 20px 10px 20px 10px;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px ;
}
#total{
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
  margin: 20px 320px;
  padding: 0px 10px 50px 10px;
}
.total_cost{
  font-size: 14px;
  font-weight: bold;
  word-spacing: 20px;
  padding:10px 0px;
}
#checkout-details{
  display: flex;
  margin: 20px auto 40px auto;
  justify-content: center;
  column-gap: 80px;
}
.inputs{
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
input,
#expiry-year-select,
#expiry-month-select,
#countries{
  font-size: 14px;
  background-color: white;
  border: none;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  margin: 10px 0px;
  
}
.row-inputs{
  display: flex;
  column-gap: 5px;
}
#section1,
#section2{
  flex : 1;
  width: 50%;
}
.order-inputs{
  display: flex;
  flex-direction: column;
}
.summary{
  display: flex;
  justify-content: space-between;
}
.total-cost{
  display: flex;
  justify-content: space-between;
  margin:30px 0px;
}
.billing-checkbox{
  display: flex;
  column-gap: 5px;
}
.billing{
  margin: 20px;
}
.expiry-inputs{
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
#expiry-year-select,
#expiry-month-select{
  padding-right: 40px;
}
